/* /* src/App.css */

body {
  margin: 0;                /* Remove default margin */
  padding: 0;               /* Remove default padding */
  background-color: white;  /* Set background color to white */
  font-family: 'Cormorant Garamond', serif;   color: rgb(68, 59, 59);  
}

h1 {
  margin: 20px;             /* Add some margin to the h1 element */
}

p {
  margin: 10px;             /* Add some margin to paragraph elements */
}

.app-container {
  display: flex;            /* Use flexbox for layout */
  flex-direction: column;   /* Stack children vertically */
  /* min-height: 100vh;        */

.main-content {
  flex: 1;
  padding: 20px;
  background-color: white;
  /* margin-top: 120px; Adjust this value based on your header/navbar height */
}
footer {
  margin-top: auto;        /* Push the footer to the bottom */
}

.content {
  flex: 1;  /* This pushes the footer to the bottom */
}
.search-container {
  display: flex;
  justify-content: center; /* Centers horizontally */
  width: 100%; /* Full width */
}

.search-box {
  width:max-content;  /* 70% of the viewport width */
  max-width:90%; /* Optional: Prevents it from becoming too wide on large screens */
  height: 90px;
}

